<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Hello Ruby TCP Server!</title>
  </head>
  <body>
    <h1>Hello Ruby TCP Server!</h1>
    <p>Received: <%= @input %></p>
    <p>At: <%= Time.now.strftime("%Y-%m-%d %H:%M:%S") %></p>
  </body>
</html>

